body {
  font-family: 'BioRhyme Expanded', serif;
}

.title {
  background-color: #b82d17;
    color: white;
}

.jumbotron .header {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  

}

.white {
  background-color: white;
}

.btn-light {
  color: #6d6b6b;
  font-size: 20px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.hide {
  display: none;
}

.tall {
  height: 250px;
}

.row {
  height: 225px;
}

.btn-info {
  width: 50%;
}

#roundScore {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'BioRhyme Expanded', serif;

}

#p1Score {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'BioRhyme Expanded', serif;

}
#p2Score {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: 'BioRhyme Expanded', serif;

}

.center {
  text-align: center;
}

/* h3 {
  text-align: center;
} */
